<head>
  <style>
    body {
      text-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
    .container {
      margin: auto;
    }
    h1 {
      font-family: "Helvetica Neue", "Helvetica", sans-serif;
      margin-top:	-8%;
    }
    #squirrels {
      width: 100%;
    }
    #acorn {
    width: 52px;
      position: fixed;
      bottom: 10px;
      right: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>404 Error - Page not found</h1>
    <img id="squirrels" src="{{ STATIC_URL }}img/squirrels.jpg">
  </div>
  <a href="/"><img id="acorn" src="http://i.imgur.com/BZComXX.png"></a>
</body>
