<html>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- Version Changed -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script> <!-- Version Changed -->
    <script type="text/javascript" src="http://www.datejs.com/build/date.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/grid.js"></script>
    <script src="{{ STATIC_URL }}js/typeAhead.js"></script>
    <link href="{{ STATIC_URL}}img/glyphicons-halflings.png" rel="icons">
    <head>
        {% block title %}
        <title>
        What's Open
        </title>
        {% endblock %}
    </head>
    {% endblock %}
    <body>
    <div class = "container">
	    
        <!-- Title, Logo -->
        <div class = "row-fluid">
            <div class = "span2">
            <a href="http://www.gmu.edu/"><img src = "http://logo.gmu.edu/hireslogos/primarylogo/PC/GMURGB.bmp" alt = "GMU Logo" width = "114" height = "79"></a>
            </div>
            <div class = "span8 title">
            <a href="http://whatsopen.gmu.edu">What's Open</a>
            {% block campus %}

            {% endblock %}
            </div>
            <div class = "span2">
                <div class="dropdown campusDropdown">
                    <a class "dropdown-toggle" data-toggle="dropdown" href='#'>Select Campus</a>
                        <ul class="dropdown-menu" role="menu" ara-labelledby="dLabel">
                            <li><a tabindex="-1" href="#">Fairfax</a></li>
                            <li><a tabindex="-1" href="#">Prince William</a></li>
                            <li><a tabindex="-1" href="#">Arlington</a></li>
                        </ul>
                </div>
            </div>
        </div>
        <div class = clock>
            at {% now "H:i" %}
            <!-- this is in 24 hour time :-/ -->

        </div>
        <div class="row">
        	<div class="span6 offset5">
		        <input name="field"id="searchBar"/>
        	</div>
	    </div>

        {% block content%}

        {% endblock %}

    <div class = "navbar">

    </div>
    
        <!-- Footers -->

    </div>

    <div class = "left-footer hidden-phone">
        A project of <a href="http://srct.gmu.edu">GMU SRCT</a>. Some rights reserved.
    </div>
    <div class = "offset5 right-footer hidden-phone">
        George Mason University <a href="http://dining.gmu.edu">Dining Services</a> 
    </div>

    <div class = "phone-footer visible-phone">
        A project of <a href="http://srct.gmu.edu">GMU SRCT</a>. Some rights reserved.
    </div>
    <div class = "phone-footer visible-phone">
        George Mason University <a href="http://dining.gmu.edu">Dining Services</a> 
    </div>

    </body>
</html>
