<html>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://www.datejs.com/build/date.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/grid.js"></script>
    <script src="{{ STATIC_URL }}js/typeAhead.js"></script>
    <link href="{{ STATIC_URL }}img/glyphicons-halflings.png" rel="icons">

    <link rel="icon" href="/static/img/gmu-logo.ico">

    <head>
        {% block title %}
        <title>
        What's Open
        </title>
        {% endblock %}
    </head>
    {% endblock %}
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">what's open</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select Campus <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Fairfax</a></li>
                            <li><a href="#">Arlington</a></li>
                            <li><a href="#">Prince William</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input id="searchBar" type="text" class="form-control" placeholder="Search">
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                {% block content %}
                
                {% endblock %}
                </div>
            </div>  
        </div>  
        <div class="footer">
            A project of <a href="http://srct.gmu.edu">GMU SRCT</a>. <a href="http://opensource.org/licenses/MIT/">Some rights reserved</a>. &nbsp; &nbsp; | &nbsp; &nbsp;
    
            George Mason University <a href="http://dining.gmu.edu/">Dining Services</a>.
            </div>
        </div>
    </body>
</html>
