<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{% block stylesheets %}
  <link rel="icon" href="/favicon.ico">
  <link href="{% static "management/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "management/css/bootswatch.min.css" %}" rel="stylesheet">
  <link href="{% static "management/css/extensions.css" %}" rel="stylesheet">
{% endblock stylesheets %}
<title>
  {% block title %}What's Open - Management{% endblock %}
</title>
</head>
<body>
  <div class="toolbox">
    <div id="wrap">
      {% include 'management/layouts/navbar.html' %}
      <div class="container">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </div>
</body>
{% include 'management/layouts/footer.html' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
