{% extends "management/layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h1>Manage</h1>
<div class="row clearfix">
		<div class="col-md-6 column">
			<img src="https://scontent-b-iad.xx.fbcdn.net/hphotos-frc3/t1/1426197_10152387296313835_1267403148_n.jpg" height=200 width=200>	
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
<div class="row semester-controls">
  <div class="col-lg-2 col-lg-offset-7">
  </div>
  <div class="col-lg-2">
    <a id="create" href="#Create" class="btn btn-block btn-lg btn-primary">Create Facility</a>
  </div>
</div>
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th>
							Facility	
						</th>
						<th>
							Edit
						</th>
						<th>
							Delete
						</th>
						<th>
							Staus
						</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
{% endblock %}
