/*Bootstrap*/
.navbar-default {
	background-color: rgba(252,252,255,0.96);
	margin-bottom: 0;
}
.navbar-toggle {
	background-color: white;
}
.navbar-brand {
	padding: 13px 18px; 
	font-size: 26px;
}

/*Styles*/
a{
    color: #006633;
}

a:hover{
    color: Green;
}

a:visited{
    color: #003C00;
}

.holder{
	min-height: 100%;
	position: relative;
} 

body {
    background: url(/static/img/southside.jpg) center top no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.title{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin-top:30px;
    line-height: 50px;
}

#grid div[class*='span']{
    margin-top:10px;
    margin-bottom:10px;
    line-height:1;
}

.grid-box{
    font-size:160%;
    margin: 10px 0px;
    cursor: pointer;
}
.grid-box .restaurant{
    text-align:center;
    background-color: white;
    padding: 10px 0px;
    margin: 5px 0px;
}
.opened{
    color:#141414;
}
.restaurant.closing{
    color: #FFCC33;
}
.restaurant.closed{
    color: rgba(81,81,81,0.9);
    background-color: rgba(255,255,255,0.65);
}

.search-row{
    text-align: center;
    padding-top: 15px;
}
ul.ui-autocomplete {
    list-style: none;
    visibility: hidden;
}

.campusDropdown{
    font-size: 20px;
    margin-top: 10px;
}
.gmu-brand {
	padding: 0px 5px 0px 12px;
	margin: none;
	display: block;
	text-align: center;
}
.gmu-logo {
	width: 150px;
	height: auto;
}
.main-container{
	padding-bottom: 200px;
	margin-top: 20px
}
#footer{
	background-color: rgba(252,252,255,0.96);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 165px;
    text-align: center;
    font-size: 15px;
    display: none;
}
.footer-row {
	margin: 0;
}
.footer-text{
	width:100%;
	text-align:center;
	margin-top: 12px;
}
#footer-line {
	display: none;
}
#info-body {
	width: 100%;
	background-color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	display: none;
}
#info-name {
	font-size: 22px;
	margin-bottom: 5px;
}
#info-close {
    position: absolute;
    right: 15px;
}
/* Custom Responsive Classes */
/* xs */
@media (min-width: 480px) {

}
/* sm */
@media (min-width: 768px) {

}
/* md */
@media (min-width: 992px) {
	#footer-line {
		display: inline;
	}
	.gmu-brand {
		position: absolute;
		right: 15px;
	}
	.main-container{
		padding-bottom: 150px;
	}
	#footer {
		height: 100px;
		background-color: rgba(252,252,255,0.82)
	}
	.navbar {
		position: relative;
	}
	body{
		padding-top: 0px;
	}
	.navbar-default {
		background-color: rgba(252,252,255,0.82);
	}
}
/* lg */
@media (min-width: 1200px) {
	
}