/*Bootstrap*/
.navbar-default {
	background-color: rgba(252,252,255,0.96);
	margin-bottom: 0;
}
.navbar-toggle {
	background-color: white;
}
.navbar-brand {
	padding: 13px 18px; 
	font-size: 26px;
}
.navbar-default .navbar-nav > .active > a {
    background: rgba(255,255,255,0.50);
}
.navbar-default .navbar-nav > .active > a:hover {
    background: rgba(255,255,255,0.50);
    color: #000;
}
/*Styles*/
body, html {
    height: 100%;
}
a{
    color: #006633;
}

a:hover{
    color: Green;
}

a:visited{
    color: #003C00;
}

.holder{
	min-height: 100%;
	position: relative;
} 

body {
    background: url(/static/img/southside.jpg) center top no-repeat fixed;
    background-size: cover;
    padding-top: 50px;
}
.title{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin-top:30px;
    line-height: 50px;
}
#grid{
    display: none;
}
#grid div[class*='span']{
    margin-top:10px;
    margin-bottom:10px;
    line-height:1;
}

.grid-box{
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.grid-box .restaurant{
    text-align:center;
    background-color: white;
    padding: 10px 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    font-size: 21px;
    overflow-y: scroll;
}
.opened{
    color:#141414;
}
.restaurant.closing{
    color: #FFCC33;
}
.restaurant.closed{
    color: rgba(81,81,81,0.9);
    background-color: rgba(255,255,255,0.65);
}
.restaurant .building{
    font-size: 15px;
    padding-left: 2px;

}

.search-row{
    text-align: center;
    padding-top: 15px;
}
ul.ui-autocomplete {
    list-style: none;
    visibility: hidden;
}

.campusDropdown{
    font-size: 20px;
    margin-top: 10px;
}
.gmu-brand {
	padding: 0px 5px 0px 12px;
	margin: none;
	display: block;
	text-align: center;
}
.gmu-logo {
	width: 150px;
	height: auto;
}
.main-container{
	padding-bottom: 200px;
	margin-top: 20px;
}
#footer{
	background-color: rgba(252,252,255,0.96);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 165px;
    text-align: center;
    font-size: 15px;
}
.footer-row {
	margin: 0;
}
.footer-text{
	width:100%;
	text-align:center;
	margin-top: 12px;
}
#footer-line {
	display: none;
}
#info-body {
	width: 100%;
	background-color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 51px;
	bottom: 0;
	z-index: 1030;
	display: none;
	overflow-y: scroll;
}
#info-name {
	font-size: 22px;
	margin-bottom: 5px;
}
#info-close, #about-close {
    position: absolute;
    right: 0;
    padding: 6px 19px 19px 19px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.4;
}
#about-close-nav {
    opacity: 0.5;
    padding: 2px 15px 0px 15px;
    display: none;
}
#info-close:hover, #about-close:hover, #about-close-nav:hover {
    opacity: 1;
}
#about-body{
    position: fixed;
    z-index: 1040;
    top: 51px;
    width: 100%;
    bottom: 0;
    overflow: scroll;
    display: none;
}
#about-container {  
    width: 100%;
    overflow-y: auto;
}
.about-content {
    background-color: #FFF;
    padding-bottom: 20px;
}
#about-example{
    background-color: rgba(255,255,255,0.4);
}
.about-top-p{
    margin-top: 20px;
}
#about-link{
    cursor: pointer;
}
.grid-blur{
    opacity: 0.54;
    -webkit-filter: blur(3px); 
    -moz-filter: blur(3px); 
    -o-filter: blur(3px); 
    -ms-filter: blur(3px); 
    filter: blur(3px);
}
.main-container{
    /* Transitions for .grid-blur */
    -webkit-transition: opacity 356ms ease-in-out, -webkit-filter 356ms ease-in-out;
    -moz-transition: opacity 356ms ease-in-out, -moz-filter 356ms ease-in-out;;
    -o-transition: opacity 356ms ease-in-out, -o-filter 356ms ease-in-out;;
    -ms-transition: opacity 356ms ease-in-out, -ms-filter 356ms ease-in-out;
    transition: opacity 356ms ease-in-out, "filter" 356ms ease-in-out;
}
.clip-height{
    max-height: 60%;
}
/* Custom Responsive Classes */
/* xs */
@media (min-width: 480px) {

}
/* sm */
@media (min-width: 768px) {
    #info-close {
        padding: 6px 31px 31px 31px;
    }
    #about-close {
        display: none;
    }
}
/* md */
@media (min-width: 992px) {
	#footer-line {
		display: inline;
	}
	.gmu-brand {
		position: absolute;
		right: 15px;
	}
	.main-container{
		padding-bottom: 150px;
	}
	#footer {
		height: 100px;
		background-color: rgba(252,252,255,0.82)
	}
	.navbar {
		position: relative;
	}
	body{
		padding-top: 0px;
	}
	.navbar-default {
		background-color: rgba(252,252,255,0.82);
	}
	#info-body {
	   position: static;
	   cursor: pointer;
    }
    #info-close {
        display: none;
    }
    #about-body {
        bottom: 100px;
    }
    .navbar-nav li{
        margin-left: 10px;
        margin-right: 10px;
    }
}
/* lg */
@media (min-width: 1200px) {
	
}