{% block about %}
<div class="row about-content">
    <div class="col-md-10 col-md-offset-1">    
        <a id="about-close"><img src="{% static "img/close.png" %}"></a> 
        <h3>What is this?</h3>
        <p><b>What's Open</b> is a dynamic web application that lets you easily find out which on-campus locations are currently available. It's a simple alternative to searching for campus hours and filtering though them to figure out which ones are open.</p> 
        <h3>How does it work?</h3>
        <p>The schedules and locations are based on data taken from <a href="http://www.gmu.edu/resources/welcome/hours.html">Mason's hours of operation page</a>. What's Open then uses this data to determine which locations are open and closed and displays them in a simple format.</p>
    </div>
</div>
<div class="row" id="about-example">
    <div class="col-md-10 col-md-offset-1" id="about-column">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-1 grid-box">
                <div class="restaurant opened">Open</div>
            </div>
            <div class="col-sm-6 col-md-4 col-md-offset-2 grid-box">
                <div class="restaurant closed">Closed</div>
            </div>
        </div>
    </div>
</div>
<div class="row about-content">
    <div class="col-md-10 col-md-offset-1">
        <p class="about-top-p">Clicking on one of the location boxes will display useful information such as its closing time, location, and the weekly schedule. If you stay on the What's Open page for an extended period of time, the view will automatically update to accurately reflect the locations open at the current time.</p>
        <h3>Who made this?</h3>
        <p>What's Open is a project created by <a href="http://srct.gmu.edu/">GMU SRCT</a> (Student-Run Computing and Technology), a student-run organization at George Mason University that establishes and maintains systems which provide specific services the Mason community. You can find information on the current developers of the project on the <a href="http://srct.gmu.edu/projects/whatsopen">SRCT website</a>. The <a href="http://git.gmu.edu/srct/whats-open">repository of the source code is hosted online as well</a>.</p>
        <h3>What's Next?</h3>
        <p>As of right now we only offer information pertaining to dining locations of Mason's campus. In the near future we plan to expand our database in order to display information pertaining to other facilities on GMU's campus including student union buildings, libraries, campus retailers, and more.</p>
        <p>Keep in mind that What's Open is currently in beta so if there are any browser compatibilities issues, schedule inaccuracies, or if you have a suggestion you can contact one of the <a href="mailto:rharper2@gmu.edu?Subject=What's Open">developers</a> and we can try to respond to the issue.</p>
    </div>
</div>
{% endblock %}
