{% load staticfiles %}
{% block footer %}
<div id="footer">
    <div class="footer-row">
      <a class="gmu-brand" href="http://www.gmu.edu">
      <img src="{% static "img/gmurgb.png" %}" class="gmu-logo"></a>
      <div class="col-md-8 col-md-offset-2">
        <p class="footer-text">A project of <a href="http://srct.gmu.edu">GMU SRCT</a>. <a href="http://opensource.org/licenses/apache-2.0">Some rights reserved</a>.<span id="footer-line">&nbsp;&nbsp;|&nbsp;&nbsp;</span><br class="visible-xs visible-sm"/> George Mason University <a href="http://dining.gmu.edu/">Dining Services</a>&nbsp;&nbsp;&nbsp; &nbsp;</p>
      </div>
    </div>
</div>
{% endblock %}
