div.container{
    margin-top:30px;
}
#grid div[class*='span']{
    margin-top:10px;
    margin-bottom:10px;
}

.open{
    color:green;
    font-weight:bold;
    font-size:200%;
    text-align:center;
}
.closing{
    color:yellow;
    font-weight:bold;
    font-size:200%;
    text-align:center;
}
.closed{
    color:black;
    font-size:200%;
    text-align:center;
}

