<!DOCTYPE html>
<html>
    {% block head %}
    <head>
      {% include 'layouts/head.html' %}
    </head>
    {% endblock %}
    <body>
        <div class="holder">
            {% include 'layouts/navbar.html' %}
            <div id="about-body">
                <div class="container" id="about-container">
                    {% include 'layouts/about.html' %}
                </div>
            </div>
            <div id="info-body">
	            <div class="container" id="info-container">
		            <div class="row" id="info-row">
    		            <a id="info-close"><img src="{{ STATIC_URL }}img/close.png"></a>
			            <div class="col-md-12" id="info-name"></div>
			            <div class="col-md-3" id="info-status"></div>
			            <div class="col-md-3" id="info-next"></div>
			            <div class="col-md-3" id="info-location"></div>
			            <div id="info-schedule"></div>
		            </div>
	            </div>
            </div>
            <div class="container main-container">
                <div class="row">
                    <div class="col-md-12">
                    {% block content %}
                    
                    {% endblock %}
                    </div>
                </div>  
            </div>
            {% include 'layouts/footer.html' %}
        </div>
    </body>
</html>
