<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class"navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">what's open</a>
  </div>
  
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    
    <div class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input id="searchBar" type="text" class="form-control" placeholder="Search">
      </div>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a id="about-link">
          <span id="about-link-text">About</span><img id="about-close-nav" src="{{ STATIC_URL }}img/close.png">
        </a>
      </li>
      <li class="dropdown" style="display:none;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select Campus <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Fairfax</a></li>
            <li><a href="#">Arlington</a></li>
            <li><a href="#">Prince William</a></li>
          </ul>
      </li>
    </ul>

  </div>

</nav>

<!-- why is the about information all spread out? -->
<div id="about-body">
  <div class="container" id="about-container">
    {% include 'about.html' %}
  </div>
</div>

<!-- what is this? -->
<div id="info-body">
  <div class="container" id="info-container">
    <div class="row" id="info-row">
      <a id="info-close"><img src="{{ STATIC_URL }}img/close.png"></a>
      <div class="col-md-12" id="info-name"></div>
      <div class="col-md-3" id="info-status"></div>
      <div class="col-md-3" id="info-next"></div>
      <div class="col-md-3" id="info-location"></div>
      <div id="info-schedule"></div>
    </div>
  </div>
</div>
