.table > tbody > tr > td {
  vertical-align: middle;
}
@media screen and (max-width: 379px) {
  .page-header h1 {
    font-size: 3.2em;
  }
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 95%;
height: auto;
/* Negative indent footer by its height */
margin: 0 auto -50px;
/* Pad bottom by footer height */
padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
height: 50px;
}

.centered{
text-align: center;
}
